*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  background: linear-gradient(35deg,
  #ccffff,
  #ffcccc
  );
}
.header_section{
  position: fixed;
  height:1.5rem;
  width: 100vw;
 background-color: royalblue;
}
.marquee_text{
  color: white;
  font-weight: 600;
}